/* ============================================================
    Sections
============================================================ */
body {
    font-size: $font_size;
    line-height: 1.5;
    font-family: $body_font;
   -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    background:$body_color;
    color: $txt_color;
    margin:0 auto;
}

h2 {
    font-size: em(64); /* 64px */
    line-height: em(72, 64); /* 72px */
    margin:em(40, 64) 0 0; /* 20px 0 0 */
    text-align: center;
}

/* ============================================================
    Text-level semantics
============================================================ */
a {
    color: $link_color;
    text-decoration:none;
}
a:hover,
a:focus,
a:active {
    color: $link_hover_color;
}