/*----- 3RD Party Libraries -----*/
@import '../libs/bourbon/bourbon'; /* import bourbon */

/*----- Descriptive Colors -----*/
$red: #C50220;
$dark_red: #AB021C;
$white: #FFF;
$black: #000;
$gray_40: #666;

/*----- Functional Colors -----*/
$body_color: $red;
$txt_color: $white;
$link_color: $gray_40;
$link_hover_color: darken($gray_40, 7%);

/*----- Fonts -----*/
$serif: 'Volkhov', Georgia, serif;
$sans_serif: Verdana, Helvetica, Arial, sans-serif;
$monospace: Monaco, Courier, "Courier New", monospace;

$body_font: $monospace;
$label_font: $serif;

/*----- Spacing & Sizing -----*/
$DEFAULT_SIZE: 16px;
$font_size: 100%; /* font_size: 100% */