/*----- 3RD Party Libraries -----*/
@import '../libs/bourbon/bourbon'; /* import bourbon */

/*----- Descriptive Colors -----*/
$red: #C50220;
$dark_red: #AB021C;
$white: #FFF;
$black: #000;
$gray_40: #666;

/*----- Functional Colors -----*/
$body_color: $red;
$txt_color: $white;
$link_color: $gray_40;
$link_hover_color: darken($gray_40, 7%);

/*----- Fonts -----*/
$serif: 'Volkhov', Georgia, serif;
$sans_serif: Verdana, Helvetica, Arial, sans-serif;
$monospace: Monaco, Courier, "Courier New", monospace;

$body_font: $sans_serif;
$label_font: $serif;

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
@mixin image-replacement {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*----- Spacing & Sizing -----*/
$DEFAULT_SIZE: 16px;
$font_size: 100%; /* font_size: 100% */
$font_pixel_base: ($DEFAULT_SIZE *($font_size / 100%));  /* font_pixel_base: 16px -- Must declare in conjunction with font-size to work properly*/

// Function that returns the number of ems equivilent to a number of pixels
@function fraction($numerator, $denominator:$font_pixel_base) {
    @return ($numerator / $denominator);
}

// Function that returns the a percentage
@function percent($numerator, $denominator:100) {
    $fraction: fraction($numerator, $denominator);
    @return $fraction * 100%;
}

%time {
    font-family: $monospace;
    font-size: em(12);
    word-spacing: -.35em;
    color: $gray_40;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    
    &:before {
        word-spacing: 0;
        color: $red;
        font-family: $body_font;
    };
}