#tasks-container {
    text-align: center;
}

/* There are two divs with id=tasks */
#tasks-wrapper > div > div {
    max-width: em(600);
    padding: em(5) percent(5, 320);
    margin: auto auto em(50);
}


.task {
    text-align: left;
    padding: em(6);
    margin: em(5);
    @include linear-gradient(-45deg, rgba($white, .4), rgba(darken($white, 3%), .4));
    border-radius: 5px;
    box-shadow: 2px 2px 7px 2px rgba($dark_red, .8);
}

#tasks-container:not(.task-added):not(.task-removed) {
    .task {
       // @include animation(slideInRight 1.0s ease alternate);
    }
}

.task-added {
    .task:last-of-type {
        @include animation(slideInRight 1.0s ease alternate);
    }
}

.remove {
    @include hide-text;
    display: inline-block;
    vertical-align: middle;
    background: rgba($white, .3);
    color: rgba($black, .3);
    @include transition (color 0.25s ease-in, background-color 0.25s ease-in);
    border-radius: 2px;
    
    &:hover, &:active {
        color: $dark_red;
        background-color: rgba($black, .1);
    };
    
    &:before {    
        font-size: 16px;
        font-family: $body_font;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        padding: em(2) em(4);
        content: "\2713";
    };
}

.name {
    vertical-align: middle;
}

.created {
    font-family: $monospace;
    font-size: 75%;
    word-spacing: -.35em;
    color: $gray_40;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    margin-top: em(4);
    &:before {
        content: "Created: ";
        word-spacing: 0;
        color: $red;
        font-family: $body_font;
    };
}

/*
 Since there is no modify capability to the task list and thus the created time is always the same as modified time, 
 I've hidden the modified time.
*/
.modified {
    font-family: $monospace;
    font-size: 75%;
    vertical-align: middle;
    color: $gray_40;
    &:before {
        content: "Modified: ";
        color: $red;
        font-family: $body_font;
    };
    display: none;
}

form {
    width: 100%;
    height: em(50);
    background-color: $dark_red;
    position: fixed;
    z-index: 1;
    bottom: 0;
    padding: em(10);
    margin-top: em(20);
}

input {
    font-size: $font-size;
    font-family: $sans_serif;
    font-weight: lighter;
    vertical-align: middle;
    &[type=text] {
        border: none;
        background-color: $red;
        color: $white;
        width: em(280);
        padding: em(4);
        &:focus {
            outline: 0;
        };
    }
    
    &[type=submit] {
       @include hide-text;
       height: 16px;
       width: 16px;
       cursor: pointer;
       /* This SVG is the plus icon, would have just used text, but before and after psuedo elements don't work with inputs. */
       background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTcuNzkyLDEuMTA0djEzLjE2aDEyLjY1NnYzLjM2MUgxNy43OTJ2MTMuMjcxaC0zLjU4NFYxNy42MjVIMS41NTJ2LTMuMzYxaDEyLjY1NlYxLjEwNEgxNy43OTJ6Ii8+CjwvZz4KPC9zdmc+) center center no-repeat;
    }
}

/* This layout works without any media queries, but I think it looks nice if the text input is widened at full width. */
@media all and (min-width: 600px) {
    input[type=text] {
        width: em(535);
    }
}