/*--------------------------------------------------
Table of Contents:
----------------------------------------------------
$_0: Vars -------- (./base/_vars.scss)
$_1: Reset ------- (./base/_reset.scss)
$_2: Global ------ (./base/_global.scss)
$_3: Grid ------ (./base/_grid.scss)
$_4: Layout ------ (./base/_layout.scss)
$_5: Compponents - (./base/_components.scss)
$_6: Utilites ---- (./base/_utilities.scss)
--------------------------------------------------*/
/*--------------------------------------------------
    $_0.0 - Vars: Site-wide variables and mixins
--------------------------------------------------*/
/*----- 3RD Party Libraries -----*/
/* import bourbon */
/*----- Descriptive Colors -----*/
/*----- Functional Colors -----*/
/*----- Fonts -----*/
/*----- Spacing & Sizing -----*/
/* font_size: 100% */
/* font_pixel_base: 16px -- Must declare in conjunction with font-size to work properly*/
.created, .modified {
  font-family: Monaco, Courier, "Courier New", monospace;
  font-size: 75%;
  word-spacing: -.35em;
  color: #666666;
  vertical-align: middle;
  white-space: nowrap;
  display: block;
  margin-top: 0.25em; }
  .created:before, .modified:before {
    word-spacing: 0;
    color: #c50220;
    font-family: Verdana, Helvetica, Arial, sans-serif; }

/*--------------------------------------------------
    $_1.0 - Reset: Minimal browser standardization
--------------------------------------------------*/
/* Display Standardization */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Element specific resets */
body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Set Everything to Border Box */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*--------------------------------------------------
    $_2.0 - Global: High-level display settings
--------------------------------------------------*/
/* ============================================================
    Sections
============================================================ */
body {
  font-size: 100%;
  line-height: 1.5;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #c50220;
  color: white;
  margin: 0 auto;
  overflow-x: hidden; }

h2 {
  font-size: 4em;
  /* 64px */
  line-height: 1.125em;
  /* 72px */
  margin: 0.3125em 0 0;
  /* 20px 0 0 */
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 0 #ab021c; }

/* ============================================================
    Text-level semantics
============================================================ */
a {
  color: #666666;
  text-decoration: none; }

a:hover,
a:focus,
a:active {
  color: #545454; }

/*--------------------------------------------------
    $_3.0 - Grid: Functions for grid spacing
--------------------------------------------------*/
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

/*--------------------------------------------------
    $_4.0 - Layout: Placement of structural elements
--------------------------------------------------*/
#tasks-container {
  text-align: center; }

/* There are two divs with id=tasks */
#tasks-wrapper > div > div {
  max-width: 37.5em;
  padding: 0.3125em 1.5625%;
  margin: auto auto 3.125em; }

.task {
  text-align: left;
  padding: 0.375em;
  margin: 0.3125em;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(247, 247, 247, 0.4)));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4), rgba(247, 247, 247, 0.4));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4), rgba(247, 247, 247, 0.4));
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.4), rgba(247, 247, 247, 0.4));
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.4), rgba(247, 247, 247, 0.4));
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.4), rgba(247, 247, 247, 0.4));
  border-radius: 5px;
  box-shadow: 2px 2px 7px 2px rgba(171, 2, 28, 0.8); }

.task-added .task:last-of-type {
  -webkit-animation: slideInRight 1s ease alternate;
  -moz-animation: slideInRight 1s ease alternate;
  animation: slideInRight 1s ease alternate; }

.remove {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  display: inline-block;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: color 0.25s ease-in, background-color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in, background-color 0.25s ease-in;
  -ms-transition: color 0.25s ease-in, background-color 0.25s ease-in;
  -o-transition: color 0.25s ease-in, background-color 0.25s ease-in;
  transition: color 0.25s ease-in, background-color 0.25s ease-in;
  border-radius: 2px; }
  .remove:hover, .remove:active {
    color: #ab021c;
    background-color: rgba(0, 0, 0, 0.1); }
  .remove:before {
    font-size: 16px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 0.125em 0.25em;
    content: "\2713"; }

.name {
  vertical-align: middle; }

.created:before {
  content: "Created: "; }

/*
 Since there is no modify capability to the task list and thus the created time is always the same as modified time, 
 I've hidden the modified time.
*/
.modified:before {
  content: "Modified: "; }

form {
  width: 100%;
  height: 3.125em;
  background-color: #ab021c;
  position: fixed;
  z-index: 1;
  bottom: 0;
  padding: 0.625em;
  margin-top: 1.25em; }

input {
  font-size: 100%;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  vertical-align: middle; }
  input[type=text] {
    border: none;
    background-color: #c50220;
    color: white;
    width: 17.5em;
    padding: 0.25em; }
    input[type=text]:focus {
      outline: 0; }
  input[type=submit] {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    height: 16px;
    width: 16px;
    cursor: pointer;
    /* This SVG is the plus icon, would have just used text, but before and after psuedo elements don't work with inputs. */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTcuNzkyLDEuMTA0djEzLjE2aDEyLjY1NnYzLjM2MUgxNy43OTJ2MTMuMjcxaC0zLjU4NFYxNy42MjVIMS41NTJ2LTMuMzYxaDEyLjY1NlYxLjEwNEgxNy43OTJ6Ii8+CjwvZz4KPC9zdmc+) center center no-repeat; }

/* This layout works without any media queries, but I think it looks nice if the text input is widened at full width. */
@media all and (min-width: 600px) {
  input[type=text] {
    width: 33.4375em; } }
/*--------------------------------------------------
    $_5.0 - Components: Elements with specialized functionality or design
--------------------------------------------------*/
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px); }

  80% {
    -webkit-transform: translateX(10px); }

  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes slideInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateX(-30px); }

  80% {
    -moz-transform: translateX(10px); }

  100% {
    -moz-transform: translateX(0); } }

@-ms-keyframes slideInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -ms-transform: translateX(-30px); }

  80% {
    -ms-transform: translateX(10px); }

  100% {
    -ms-transform: translateX(0); } }

@-o-keyframes slideInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -o-transform: translateX(-30px); }

  80% {
    -o-transform: translateX(10px); }

  100% {
    -o-transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px); }

  60% {
    opacity: 1;
    transform: translateX(-30px); }

  80% {
    transform: translateX(10px); }

  100% {
    transform: translateX(0); } }

/*--------------------------------------------------
    $_6.0 - Utilities: Debugging/Messaging elements
--------------------------------------------------*/
